API_ID=29350132
API_HASH=e854995be05edb5bf21f5b84bdc0212f
BOT_TOKEN=7324085779:AAFPYZHZLk1AdceRdYyUF3KTRTi9Er5Bj2w
LOG_GROUP_ID=-1002222142844
MONGO_DB_URI=mongodb+srv://devilkingp0404:devilkingp0404@cluster0.iw04afs.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7464102358
STRING_SESSION=BQG_2PQAjWJwP99R6qAQJLy7VLO5-rrkTqEnPfVvRdPAtMg6G2l4R5utSaULBJ-Z19t2nuJFkML6UA-SyhFXp_dsBSX7jqtB1uJ7ZbjQzS1Q6KnaIRAoxRdRAedbPIg_2zZO71GcZ-ddXulnUNNQ6cGD3RKeaG7hLcurFNOuxaeowq27trVJ9reMmItYJbib7H2g2oMwzTskDJRGuu0b8u28FI9UNbfsRwsIgFctz7TgJWiP5GCYbjOB8il3xU5h1P_p-hFQp5OCJA0EFiia54qzKC4r6vJKpJz1uBfPq65q2pi_QLOOgvlp47K1tCa2G55c1_TA6Ch_67okFZKuiPecbxJc0wAAAAG85SnWAA
