API_ID=29350132
API_HASH=e854995be05edb5bf21f5b84bdc0212f
BOT_TOKEN=7324085779:AAE_b-iI2nnpAmSFTBq2JHERBlQOMWlOAKU
LOG_GROUP_ID=-1002222142844
MONGO_DB_URI=mongodb+srv://devilkingp0404:devilkingp0404@cluster0.iw04afs.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7245959664
STRING_SESSION=BQG_2PQATuILLxypuKt3VJ45P-MSm24lLl2YB2M0_gXLAF319miF2az8l51U3ngquLdZW-iZWHIHamf4KjQKg8lBJGA8mfp0wXpY6p8II-fw8eCGX4XVKEKtZNiyInrKvzOSQLz6Vy6GX_cdB81l_wStZF9bhInAbUBnYbF6J0vsKU9czjtcBX4AHCQAqfogV8XqajCNtHCvO4R5b6jTLNtC9-eRUH1kY2mwxI-ihJkCJjDdxRfjps98Gt1TTR_O1kV5lICKPjlvp_TldvU7E59FtdlHAkZJ1v8bFHHiZdvhphBlcYf-Zd3sA45Vuclj0JuHVYmnzIIVRsdbPBm9MabaomDLCQAAAAG85SnWAA
